*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(45deg,#452efc,#552682);
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    background-color: #fff;
    height:445px;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:  1px 1px 15px #000;
    padding: 40px 25px;
}

.form h1{
    color: #452efc;
    font-size: 30px;
    position: relative;
}

.form h1::after{
    position: absolute;
    bottom: -45%;
    left:35%;
    border:2px solid #452efc;
    width:30px;
    content: "";
    border-radius: 15px;
    transition: all .30s;
}


.form h1.active::after{
    left: 70%;
}

.form form{
    width: 100%;
}

.form form .name{
    width: 100%;
    height: 45px;
    background-color: #dfdede;
    display: flex;
    border-radius: 5px;
    margin-top: 30px;
    padding: 0 10px;
    transition:all .30s;
}


.form form .name i{
    color: gray;
    line-height: 45px;
    margin: 0 8px;
    
}

.form form .name input{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}

.form form .name input::placeholder{
   font-size: 16px;
}


.form form span{
    font-size: 14px;
    color: #8b8a8a;
    margin:15px 0;
    display: inline-block;
}


.form form span a{
    color: #452efc;
    font-size: 12px;
    text-decoration: none;
}


.form form .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.form form .buttons button{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    background: #452efc;
    border: none;
    outline: none;
    cursor: pointer;
    transition:all 1s ease;
}


.form form .buttons button:nth-child(2){
    background-color: #dfdede;
    color: #808080;
}


