*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-wrapper{
    position: relative;
    height: 300px;
    width: 250px;
}


.box{
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    height: 300px;
    width: 250px;
    background-color: rgb(51,51,51);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    cursor: pointer;
    transform-origin:100% 100%;
    transition: transform .30s ease;
}

.box:nth-child(odd){
    background-color: #292929;
}

.box img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.box span{
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.box.card-one{
    transform: rotate(20deg);
}

.box.card-two{
    transform: rotate(15deg);
}
.box.card-three{
    transform: rotate(5deg);
}

.card-wrapper .card-pin{
    height: 25px;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:-2%;
    right:-4%;
    z-index: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-wrapper .card-pin .line{
    height: 2px;
    width: 100%;
    background: #dbdada;
}

.card-wrapper .box.prev{
transform: rotate(100deg);
}