* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    background-color: #F4C531;
}

.formContainer {
    position: relative;
}

.form {
    padding: 3rem;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.form label {
    color: #3F3554;
    font-weight: 550;
    margin-bottom: .2rem;
    text-transform: capitalize;
}

.form input {
    height: 30px;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #3F3554;
    margin-bottom: 1rem;
}

.form button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #3F3554;
    font-weight: 550;
    background-color: #F4C531;
    border-radius: 25px;
    margin-top: 1rem;
}

.head {
    height: 120px;
    aspect-ratio: 1;
    border: 2px solid #2E0D30;
    border-radius:80px 80px 39px 39px;
    position: absolute;
    top: -60px;
    left: 50%;
    z-index:1;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.head::before,
.head::after{
    height: 45px;
    width: 40px;
    background-color: #3F3554;
    content: "";
    position: absolute;
    border-radius: 100px 100px 0 0;
    border: 2px solid #2E0D30;
}

.head::before{
    top: -20px;
    left: -25px;
    transform: rotate(-46deg);
}

.head::after{
    top: -20px;
    right: -25px !important;
    transform: rotate(46deg);
}

.eyes-l,
.eyes-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3F3554;
}

.eyes-l {
    top: 32px;
    left: 17px;
    border-radius: 75px 100px 80px 100px;
}

.eyes-l::after,
.eyes-r::after {
    position: absolute;
    top: 29px;
    left: -3px;
    content: "";
    height: 18px;
    aspect-ratio: 1;
    border-radius: 10px 18px 10px 15px;
    background-color: rgb(241, 148, 164);
}

.eyes-r::after {
    top: -6px;
    left: 28px;
    transform: rotate(-15deg);
}

.nose {
    height: 18px;
    aspect-ratio: 1;
    background-color: #3F3554;
    position: absolute;
    top: 64px;
    left: 48px;
    transform: rotate(48deg);
    border-radius: 16px 0px 0px 0px;
}


.eyes-r {
    top: 32px;
    left: 64px;
    transform: rotate(90deg);
    border-radius: 75px 100px 80px 100px;
}

.nth-l,
.nth-r{
    height: 15px;
    width: 10px;
    top: 80px;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #3F3554;
}

.nth-l{
    left: 55px;
    border-top: none !important;
    border-right: none !important;
}

.nth-r{
    left:46px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.eyes .eyes-dot{
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all .50s ease;
}

.hand{
    height: 50px;
    width: 40px;
    position: absolute;
    border-radius: 20px 20px 50px 50px;
    border: 2px solid #2E0D30;
    background-color: #3F3554;
    transition: all .50s ease;
}


.hand-l{
    top: 99px;
    left: -78px;
}

.hand-r{
    top: 99px;
    right: -78px;
}

.foot{
    height:50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #3F3554;
    position: absolute;
    border: 2px solid #2E0D30;
    border-radius: 100px 100px 20px 20px;
}

.foot::after{
    position: absolute;
    top:63%;
    left: 50%;
    background-color: #fff;
    content: " ";
    height: 20px;
    width: 25px;
    border-radius:100px 100px 20px 20px;
    transform: translate(-50%, -50%);
}

.foot-l{
    bottom: -13px;
    left: 103px;
}

.foot-r{
    bottom: -13px;
    right:103px;
}

.nails{
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
}

.nail-1{
    margin: 10px 4px 0 0;
}
.nail-2{
    margin: 4px 0px 0 0;
}
.nail-3{
    margin: 10px 0px 0 4px;
}




#eyes-dot-1.active{
    top: 17px;
    left:15px;
}

#eyes-dot-2.active{
    top: 15px;
    left: 16px;
}

.hand-l.active{
    height: 120px;
    top: 20px;
    left:0;
    transform: rotate(-150deg);
}

.hand-r.active{
    height: 120px;
    top: 20px;
    right:0;
    transform: rotate(150deg);
}