*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 80px;
    color: red;
    margin-bottom: 20px;
}

input{
    height: 40px;
    width: 100%;
    max-width: 500px;
}
