*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    font-family: sans-serif;
    background-color:rgb(45, 88, 60);
}

.container {
    margin: 200px 0 0 100px;
}

.container h1{
    color: #fff;
    margin: 15px 0;
}

.container h1 span{
    display: inline-block;
    text-decoration: underline;
    text-transform: capitalize;
    color: rgb(236, 233, 11);
}


.display{
    width: 100%;
    background-color: #fff;
    max-width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: 0 15px;
}


.display input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
}

.display i{
    font-size: 25px;
    cursor: pointer;
    color: green;
}

.container button{
    height: 50px;
    min-width: max-content;
    padding: 0 10px;
    color: #fff;
    border:2px solid #fff;
    outline: none;
    background: rgb(68, 68, 68);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
