@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    font-family: "Oswald", serif;
    background-color: #4141ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
}

.container .left{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

.container .left ul li{
    list-style-type: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: color .5s ease;
    text-transform:uppercase;
}

.container .left ul li.active{
    color: rgb(245, 59, 90);
}

.container .right{
    width: 100%;
    height: 100%;
    background-image:url('../images/nature.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease;
}


