*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: azure;
}

.main{
    position: fixed;
    top:50%;
    right:50%;
    transform: translate(50% ,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #000;
    box-shadow: 5px 5px 0 rgb(0,0,0,.30);
    transition: all .4s;
    height:100px;
    border-radius: 50%;
    width:100px;
}

.main.active{
    border-radius: 100px;
    width:490px;
}

.main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
}

.main.active ul{
    opacity: 1;
    visibility: visible;
}

.main ul li {
    color: #fff;
    height:60px;
    width:60px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    margin-right:18px;
    cursor: pointer;
    transition: width .25s ease;
}


.main ul li:hover{
    width: 125px;
    border-radius: 50px;
}


.main ul li a{
    text-decoration: none;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 18px;
    visibility: hidden;
    transition: width .30s ease, opacity .30s ease, visibility .30s ease;
    font-size: 16px;
}

.main ul li:hover a{
    padding-left:5px;
    width:50px;
    opacity: 1;
    visibility:visible;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu i{
    color: #fff;
    font-size:35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
