*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container{
    background: #fff;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    padding: 15px 20px;
}


.container h1{
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    /* line-height: 60px; */
    margin-bottom: 10px;
    color: #333;
}


.container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.name label{
    font-size:17px;
    color: #333;
    font-weight: 450;
    margin:10px 0;
}

.name input{
    width: 100%;
    height: 45px;
    border:1.5px solid #b3b2b2;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    transition: border .50s ease;
}
.name input:focus{
    border: 1.5px solid #6a11cb !important;
}

form button{
    width: 100%;
    height: 40px;
    background: linear-gradient(45deg,#6a11cb,#2575fc);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background .40s ease;
    text-transform: capitalize;
    border-radius:5px;
    margin: 15px 0;

}

form button:hover{
    background: linear-gradient(45deg,#2575fc,#6a11cb);
}

form span{
    color: #333;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
}


form span a{
    color: #6a11cb;
    font-size: 16px;
    text-decoration: none;
}

form .name span{
    font-size: 16px;
    font-weight: 550;
    display:none;
    padding: 5px 0;
    color: red;
   transition: all 10s ease-in;
}


form .name i{
    color: red;
    position: absolute;
    top:55px;
    right: 10px;
    font-size: 18px;
    display: none;
}


