*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
}


.container{
    height: 400px;
    border-radius: 5px;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0,0,0,.3);
}

.container h2{
    color: #333;
    font-size:25px;
    margin: 8px 0;
}

.container span{
    font-size:50px;
    font-weight: bold;
    display:inline-block;

}

.buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons-wrapper button:first-child{
    margin-right: 20px;
}

.buttons-wrapper button{
    background-color: royalblue;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    height: 40px;
    width: 130px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
}
